@CHARSET "EUC-KR";
#map{
	position:absolute; width:80%; height : 60%; z-index:-5;
}

#route_list {
	position:absolute; width:20%; height : 60%; z-index:3;
}
#route_list ul, #route_list ul li{
    margin:0;
    padding:0;
    list-style:none;
}
/****리스트_날짜 ****/
/* We apply background color and border bottom white and width to 150px */
#route_list ul li{
	background:#b3b3b3;
    border-bottom:solid 1px white;
    width:100px;
    cursor:pointer;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#route_list ul li:hover{
    background-color:#ff6633;
    color:#ffffff;
    position:relative;
}

/* We apply the link style */
#route_list ul li a{
    padding:5px 15px;
    color:#ffffff;
    display:inline-block;
    text-decoration:none;
}

/**** 리스트_제주/서귀포  ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#route_list ul li ul{
    position:absolute;
    display:none;
}

/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
#route_list ul li:hover ul{
    left:100px;
    top:0px;
    display:block;
}

/* we apply different background color to 2nd level menu items*/
#route_list ul li ul li{
    background:#b3b3b3;
}

/* We change the background color for the level 2 submenu when hovering the menu */
#route_list ul li:hover ul li:hover{
    background-color:#ff6633;
    color:#ffffff;
}

/* 리스트_제주/서귀포 색 */
#route_list ul li ul li a{
    color:#454444;
    display:inline-block;
    width:100px;
}
/*관광지 명소들*/

/* Clear float */
.clear{
    clear:both;
}