@CHARSET "UTF-8";

.box{
	 border-top: 2px solid white;
	 width:800px;
	 height:500px;
	 margin:auto;
	 padding : 10px;
}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.textbox {
	position: relative; width: 500px; margin: 15px
}

.textbox label {
  position: absolute;
  top: 1px;  /* input 요소의 border-top 설정값 만큼 */
  left: 1px;  /* input 요소의 border-left 설정값 만큼 */
  padding: .8em .8em;  /* input 요소의 padding 값 만큼 */
  color: #727272;
  cursor: text;
  margin-left:40px;
}

.textbox input[type="text"]{
  width: 640px;  
  height: auto;
  line-height : normal;  
  padding: .8em .8em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  border: 1.5px solid black;
  border-radius: 0;  
  outline-style: none; /*포커스발생효과없애기*/
  -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
  margin-left:40px;
}

textarea{
  outline: none;
  padding : 10px;
  width:80%;
  height:50%;
  border:  1.5px solid black;
  margin:auto;
  margin-left:55px;
}

textarea::-webkit-input-placeholder { /*textarea placeholder부분*/
    font-size: 15px;
    style:bold;
}

.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:140px;
    height:30px;
    background:black;
    color:#fff;
    text-align:center;
    line-height:30px;
    margin-left:55px;
    margin-top : 10px;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    margin-top : 10px;
}
.file_input input[type=text] {
    vertical-align:middle;
    display:inline-block;
    width:515px;
    height:30px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border: 1.5px solid black;
    margin-top : 10px;
}

.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border:  1.5px solid black;
    margin-top: 10px;
    width : 665px;
    margin-left:55px;
}



