		/* Full-width input fields */
body{
	background:#f1f1f1;
	align:center;
	position:relative;
	}
input[type=text], input[type=file], textarea {
    padding: 12px 20px;
    margin: 8px;
    width:100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width:30%;
}

button:hover {
    opacity: 0.8;
}

#table{ /*입력 폼들을 담고 있는 테이블입니다 하나로 묶었습니다 */
 position:fixed;
	top: 50%;
    left: 50%;
    width:60%;
    height:18em;
    margin-top: -16em; 
    margin-left: -25em; 
    border-width:0
}

/* 버튼들입니다 */
#cancel{
	display:inline-block;
    padding: 10px 18px;
    background-color: #f44336;
    align:center;
}
#submit{
	display:inline-block;
    padding: 10px 18px;
    align:center;
}

/* Center the image and position the close button */

.container{
    padding: 16px;
   	magrgin:20px;
   	width:70%;
	top:50%;
}
